body {
  background: linear-gradient(#444a5d 35%, #f27d3a 35%);
}
.appWrapper {
  margin: 50px auto;
  width: 1200px;
  display: grid;
  grid-template-areas: 
  "h h"
  "a c";
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 2fr 10fr;
}
.appWrapperContent {
  grid-area: c;
  background-color: #d3cece;
}
